# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Typescript compiled output
dist/
out/
build/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# TypeScript specific
*.tsbuildinfo

# Misc
.DS_Store
Thumbs.db

# IDE or editor settings
.vscode/
.idea/
*.sublime-workspace
